.tempo-control {
   
    color: #e0e0e0; /* Light text */

  }
  
  .tempo-slider-container {
    margin-top: 0.5rem;
  }
  
  .tempo-slider-container label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
  color: #e0e0e0; /* Light text */

  }
  
  .tempo-labels {
    display: flex;
    justify-content: space-between;
    margin-top: 0.25rem;
  color: #e0e0e0; /* Light text */

  }
  
  .tempo-labels small {
    font-size: 0.7rem;
  color: #e0e0e0; /* Light text */

  }
  
  /* Custom range slider styling for dark theme */
  .form-range {
    width: 100%;
    height: 0.5rem;
    background-color: #444;
    border-radius: 0.5rem;
    outline: none;
  }
  
  .form-range::-webkit-slider-thumb {
    width: 1rem;
    height: 1rem;
    background-color: #0d6efd;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .form-range::-webkit-slider-thumb:hover {
    background-color: #0b5ed7;
  }
  
  .form-range::-moz-range-thumb {
    width: 1rem;
    height: 1rem;
    background-color: #0d6efd;
    border-radius: 50%;
    cursor: pointer;
    border: none;
  }
  
  .form-range::-moz-range-thumb:hover {
    background-color: #0b5ed7;
  }